<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puntos de Atención</title>
    <link rel="shortcut icon" href="../../assets/img/logoPagina.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/styles/puntos-atención.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg menu navbar-dark fixed-top">
            <div class="prueba ms-5">
                <img src="../../assets/img/logoPagina.png" alt="logo" width="85" height="80">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
            </div>
            <div id="contenedorTituloMenu">
                <h3 class="tituloMenu">Servicios Médicos <b>PSM<b></h3>
            </div>
        </nav>

        <nav id="seccionesNavbar">
            <!--AQUÍ VAN LOS ITEMS DE LA BARRA DE NAVEGACIÓN-->
            <div>
                <ul>
                    <li>
                        <a href="../../index.html">Inicio</a>
                    </li> 

                    <li>
                        <a  class="" href="./src/views/paciente.html">Paciente</a>
                    </li>

                    <li>
                        <a  class="dos" href="../views/medico.html">Médico</a>
                    </li>

                    <li>
                        <a  class="tres" href="../views/enfermedad.html">Enfermedad</a>
                    </li>

                    <li>
                        <a  class="cuatro" href="../views/medicamento.html">Medicamento</a>
                    </li>

                    <li>
                        <a  class="cinco" href="../views/signovital.html">Signo Vital</a>
                    </li> 

                    <li>
                        <a href="../views/contacto.html">Contáctanos</a>
                    </li> 
                </ul>
            </div>
    </header>

    <main>
        <div id="contenedor-titulo-mapa">
            <h3>Estos son nuestros puntos de atención para nuestros usuarios</h2>
        </div>
        <div id="contenedor-cuerpo">
            <div class="contenedor-mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d126907.88242242576!2d-75.60490444261909!3d6.280641993862189!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sIPS%20Sura!5e0!3m2!1sen!2sco!4v1733086538482!5m2!1sen!2sco" " allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </main>

    <footer>

    </footer>

    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="../paginaInicio/inicio.js"></script>
</body>
</html>